<div class="container">
  <img src="/assets/CatwikiLogo.svg" alt="logo" />

  <main class="main">
    <section class="hero">
      <div class="hero__top">
        <h1>CatWiki</h1>
        <p>
          Get to know more about your cat breed
        </p>
        <label class="sr-only" for="search">Search</label>
        <input type="text" name="search" id="search" placeholder="Search">
      </div>

      <div class="hero__bottom">
        <p class="accent">Most Searched Breeds</p>
        <h2>66+ Breeds for you to discover</h2>

        <div class="hero__cat-grid">
          <figure>
            <img src="/assets/image 1.png" alt="bengal">
            <figcaption>sengal</figcaption>
          </figure>

          <figure>
            <img src="/assets/image 2.png" alt="savannah">
            <figcaption>savannah</figcaption>
          </figure>

          <figure>
            <img src="/assets/image 3.png" alt="norwegian forest cat">
            <figcaption>norwegian forest cat</figcaption>
          </figure>
        </div>
      </div>
    </section>
  </main>
</div>
