<div class="container">
  <img src="/assets/CatwikiLogo.svg" alt="logo" />

  <main class="main">
    <section class="hero">
      <div class="hero__top">
        <h1>CatWiki</h1>
        <p>
          Get to know more about your cat breed
        </p>
        <label class="sr-only" for="search">Search</label>
        <input type="text" name="search" id="search" placeholder="Search">
      </div>

      <div class="hero__bottom">
        <p class="accent">Most Searched Breeds</p>
        <h2>66+ Breeds for you to discover</h2>

        <div class="hero__cat-grid">
          <figure *ngFor="let breed of breeds">
            <img src="{{breed.url}}" alt="{{breed.name}}">
            <figcaption>{{breed.name}}</figcaption>
          </figure>
        </div>
      </div>
    </section>

    <section class="why">
      <div class="why__text">
        <h2>Why should you have a cat?</h2>
        <p>
          Having a cat around you can actually trigger the release of calming chemicals in your body which lowers your
          stress and anxiety levels.
        </p>

        <a href="#">Read more</a>
      </div>

      <div class="why_images">
        <img src="/assets/image 1.png" alt="cat">
        <img src="/assets/image 2.png" alt="cat">
        <img src="/assets/image 3.png" alt="cat">
      </div>
    </section>
  </main>
</div>
